@import "@fontsource-variable/merriweather";
@import "@fontsource-variable/montserrat";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-serif: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, "Noto Serif";
  --color-brand0: #ffffff;
  --color-brand1: #000000;
}

/* Tailwind laden */
@import "tailwindcss";

/* Basis-Schrift global anwenden */
@layer base {
  html,
  body {
    @apply font-sans;
    @apply bg-brand1;
    @apply text-brand0;
  }
}

@layer components {
  .recipe h1 {
    @apply text-3xl font-bold mb-4 mt-20;
  }
  .recipe h2 {
    @apply text-3xl font-bold mb-4 mt-20;
  }
  .recipe ul {
    @apply list-disc text-lg list-inside mb-6;
  }
  .recipe ul li {
    @apply mb-2;
  }
  .recipe ol {
    @apply list-decimal text-lg list-inside mb-3;
  }
  .recipe ol li {
    @apply mb-2;
  }
  .recipe p {
    @apply mb-3 text-lg;
  }
}
